html {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 32px;
    gap: 32px;
    background: #202020;
    color: white;
}
button {
    background: white;
    border: 0;
    padding: 16px;
    font: inherit;
    border-radius: 3px;
}
.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
}
h1 {
    text-align: center;
}
.wrap > div {
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: #202020;
    gap: 16px;
    text-align: center;
}
img {
    padding: 16px;
}