:root {
    --dark: #333;
    --light: white;
    --primary: #00aeff;
    --greyed: #666;
    --pale: #cecece;
}
html {
    overflow-x: hidden;
    font-family: "Segoe UI", Helvetica, sans-serif;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    font: inherit;
}
body {
    margin: 0;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: var(--dark);
    padding: 3em;
    gap: 2em;
}
header {
    font-size: 2em;
    padding: 1em;
    color: var(--primary);
}
.todoApp {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    background: var(--light);
    border-radius: 5px;
    padding: 1em;
}
.addTodo {
    display: grid;
    grid-template-columns: 1fr 2em 2em;
    align-items: center;
}
.addTodo > input {
    border: 1px solid var(--dark);
    height: 3em;
    border-radius: 5px;
    padding: 1em 2.5em 1em 0.5em;
    grid-column: 1/-2;
    grid-row: 1/-1;
}
input:focus, button:focus {
    outline: none;
}
.addTodo > input:focus {
    box-shadow: inset 0 0 5px var(--primary);
    border: 1px solid var(--primary);
}
.addTodo > .btnAdd {
    grid-column: -3/-1;
    grid-row: 1/-1;
    height: 4em;
    border-radius: 100%;
    background: var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
    cursor: pointer;
}
.addTodo > .btnAdd:focus, .addTodo > .btnAdd:hover {
    box-shadow: 0 0 5px var(--primary);
    border: 1px solid var(--primary);
}
.todoListItems {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.todoListItems li {
    padding: 1em;
    border-radius: 5px;
    min-height: 3em;
    background: var(--greyed);
    color: var(--pale);
    display: flex;
    gap: 0.5em;
}
.todoListItems li:hover {
    color: var(--light);
}
.todoListItems li:nth-child(2n) {
    background: var(--dark);
}
.removeTodo:hover, .editTodo:hover {
    cursor: pointer;
}
.removeTodo {
    margin: 0 0 0 auto;
}
.total {
    text-align: center;
    padding: 1em;
}
.completed {
    text-decoration: line-through;
}